{% extends 'RentMovieBundle::layout.html.twig'%}

{% block links %}
<li><a href="#">Home</a></li>
  <li><a href="{{ path('melodrama')}}">Melodrama</a></li>
  <li><a href="{{ path('comedy')}}">Comedy</a></li>
  <li><a href="{{ path('drama')}}">Drama</a></li>
  <li class="active"><a href="{{ path('horror')}}">Horror</a></li>
  <li><a href="{{ path('fantasy')}}">Fantasy</a></li>
  <li><a href="{{ path('science')}}">Science fiction</a></li>
  <li><a href="{{ path('cartoon')}}">Cartoons</a></li>
 {% endblock %} 
 
 
 {% block quote %}
 "Death in the horror movies is when the monsters get you."
 {% endblock %}
 
  {% block author %}
 Stephen King, Danse Macabre
 {% endblock %}
 
 {% block image %}
  <img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/sinister.jpg') }}" alt="">
  {% endblock %}
  
  
  {% block title %}   
    Sinister 
  {% endblock %}
  
  {% block year %}   
      2012
  {% endblock %}
  
  {% block description %}  
    A true-crime writer finds a cache of 8mm home movies films that suggest the murder he is currently researching
	is the work of a serial killer whose career dates back to the 1960s.
  {% endblock %}
  
  
    {% block title1 %}   
  The Conjuring 
  {% endblock %}
  
  {% block year1 %}   
      2013
  {% endblock %}
  
  {% block description1 %}  
        Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse.
  {% endblock %}
  
  {% block image1 %}   
  <img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/conjuring.jpg') }}" alt="">
  {% endblock %} 