{% extends 'RentMovieBundle::layout.html.twig'%}

{% block links %}
<<<<<<< HEAD
 <li><a href="{{path('rent_movie_main')}}">Home</a></li>
  <li><a href="{{path('rent_movie_melodrama')}}">Melodrama</a></li>
  <li><a href="{{path('rent_movie_comedy')}}">Comedy</a></li>
  <li><a href="{{path('rent_movie_drama')}}">Drama</a></li>
  <li><a href="{{path('rent_movie_horror')}}">Horror</a></li>
  <li><a href="{{path('rent_movie_fantasy')}}">Fantasy</a></li>
  <li class="active"><a href="{{path('rent_movie_science')}}">Science fiction</a></li>
  <li><a href="{{path('rent_movie_cartoon')}}">Cartoons</a></li>
=======
<li><a href="#">Home</a></li>
  <li><a href="{{ path('melodrama')}}">Melodrama</a></li>
  <li><a href="{{ path('comedy')}}">Comedy</a></li>
  <li><a href="{{ path('drama')}}">Drama</a></li>
  <li><a href="{{ path('horror')}}">Horror</a></li>
  <li><a href="{{ path('fantasy')}}">Fantasy</a></li>
  <li class="active"><a href="{{ path('science')}}">Science fiction</a></li>
  <li><a href="{{ path('cartoon')}}">Cartoons</a></li>
>>>>>>> 712257b3fe4b5c6231415b7dff637f0c2b9915dc
 {% endblock %} 
 
 
 {% block quote %}
 "I think science fiction helps us think about possibilities, to speculate - 
 it helps us look at our society from a different perspective. It lets us
 look at our mores, using science as the backdrop, as the game changer."
 {% endblock %}
 
  {% block author %}
   Mae Jemison
 {% endblock %}
 
 {% block image %}
<<<<<<< HEAD
  <a href="{{path('rent_movie_lucy')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/lucy.jpg') }}" alt=""></a>
=======
  <img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/lucy.jpg') }}" alt="">
>>>>>>> 712257b3fe4b5c6231415b7dff637f0c2b9915dc
  {% endblock %}
  
  
  {% block title %}   
<<<<<<< HEAD
   <a href="{{path('rent_movie_lucy')}}"><font color="#FFAF0A">Lucy</font></a>
=======
   Lucy
>>>>>>> 712257b3fe4b5c6231415b7dff637f0c2b9915dc
  {% endblock %}
  
  {% block year %}   
      2014
  {% endblock %}
  
  {% block description %}  
    A woman, accidentally caught in a dark deal, turns the tables on her captors and transforms into a merciless warrior evolved beyond human logic.
  {% endblock %}
  
<<<<<<< HEAD
 
=======
  
    {% block title1 %}   
   Jurassic World
  {% endblock %}
  
  {% block year1 %}   
      2015
  {% endblock %}
  
  {% block description1 %}  
      Twenty-two years after the events of Park Jurassic (1993), Isla Nublar now features a fully functioning dinosaur themepark, Jurassic World, as originally envisioned by John Hammond. After 10 years of operation and visitor rates declining, in order to fulfill a corporate mandate,
	  a new attraction is created to re-spark visitor's interest, which backfires horribly.
  {% endblock %}
  
  {% block image1 %}   
  <img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/world.jpg') }}" alt="">
  {% endblock %} 
>>>>>>> 712257b3fe4b5c6231415b7dff637f0c2b9915dc
